* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/* SCROLL BAR */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #1e78a6;
  background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--var-color-principal);
  border-radius: 20px;
  border: 3px solid var(--var-color-background-main);
}

:root {
  --var-color-principal: rgb(38, 146, 218);
  --var-color-text-white: rgb(228, 214, 214);
  --var-color-background-main: #cbc8cc;
  --var-color-title-main: #696669;
}

/* CONST */
#title {
  font-family: 'montserrat';
}

#text {
  font-family: 'inter';
}

/* ASSIDE */

aside {
  width: 20%;
  height: 100rem;
  background-color: rgb(56, 56, 56);
  /*outline: 1px solid red;*/
  border: 6px solid transparent;
}

/*
.animated {
  background-image: linear-gradient(rgb(56, 56, 56), rgb(56, 56, 56)),
    linear-gradient(
      180deg,
      rgb(102, 226, 220),
      rgb(28, 113, 163) 50%,
      rgb(8, 42, 107)
    );

  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: highlight 4s infinite alternate;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

*/

div.img {
  display: flex;
  justify-content: center;
}

img.img-profile {
  width: 60%;
  border-radius: 15rem;
  margin: 2rem;
  background: rgb(0, 22, 36);
  border: rgb(38, 146, 218) solid 0.3rem;
  box-shadow: 1px 0px 28px -1px #54ddf555;
}

div.contact {
  margin-left: 10%;
  display: grid;
  gap: 0.6rem;
}

h2.subtitle-aside {
  font-size: 1.5rem;
  background: #1e78a6;
  background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

p.aside-text {
  font-size: 0.9rem;
  color: var(--var-color-text-white);
  display: flex;
  gap: 0.6rem;
}

img.icon {
  width: 8%;
}

img.icon:hover {
  transform: scale(110%);
  transition: 0.2s;
}

a.button-contact {
  text-decoration: none;
}

img.icon.placeholder-icon {
  height: 1.5rem;
  margin-left: 0;
}

div.skills {
  margin-top: 2rem;
  margin-left: 2rem;
}
/*Progress Bar*/

.container-progress {
  width: 90%;
  height: 15px;
  background-color: #ccc;
  position: relative;
  margin-top: 0.5rem;
}

/* progress-bar one */

.container-progress .progress-bar#one {
  position: absolute;
  height: 100%;
  background: rgb(0, 22, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 22, 36, 1) 0%,
    rgba(9, 83, 121, 1) 0%,
    rgba(2, 187, 224, 1) 50%,
    rgba(0, 247, 255, 1) 96%
  );
  animation: progress-animation-one 5s infinite;
}

@keyframes progress-animation-one {
  0% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
}

/* progress-bar two */

.container-progress .progress-bar#two {
  position: absolute;
  height: 100%;
  background: rgb(0, 22, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 22, 36, 1) 0%,
    rgba(9, 83, 121, 1) 0%,
    rgba(2, 187, 224, 1) 50%,
    rgba(0, 247, 255, 1) 96%
  );
  animation: progress-animation-two 5s infinite;
}

@keyframes progress-animation-two {
  0% {
    width: 0%;
  }
  80% {
    width: 30%;
  }
}

/* progress-bar three */

.container-progress .progress-bar#three {
  position: absolute;
  height: 100%;
  background-color: var(--var-color-principal);
  animation: progress-animation-three 5s infinite;
}

@keyframes progress-animation-three {
  0% {
    width: 0%;
  }
  80% {
    width: 90%;
  }
}

p.skill-name {
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* LANGUAGES */

div.languages {
  margin-left: 2rem;
  margin-top: 2rem;
}

@import url(https://fonts.googleapis.co/css?family=montserrat:600,400,300);

:root {
  --dark-purple: #4b384c;
  --crushed-raspberry: #632c65;
  --rose: #e2a9e5;
  --black: #201c29;
  --secondary: #6fa57f;
}

/* O WIDTH DO ASIDE SOFRE UM AUMENTO POIS
O MARGIN RIGTH DO CIRCLES SMALL EMPURRA ELE */
.circles-small {
  height: 90px;
  text-align: left;
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  margin-right: 1rem;
}

.circle-small {
  display: inline-block;
  position: relative;

  height: 80px;
}

.circle-small svg {
  width: 80px;
  height: 80px;
}

.circle-small .bg {
  fill: none;
  stroke-width: 6px;
  stroke: #343035;
}

.circle-small .progress {
  fill: none;
  stroke-width: 5px;
  stroke: var(--var-color-principal);

  stroke-linecap: round;
  stroke-dasharray: 232.36;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-small .progress.one {
  stroke-dashoffset: 0;
  animation: one 2.5s ease-in, appear 1s;
}

.circle-small .progress.two {
  stroke-dashoffset: 30;
  animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small .text {
  position: absolute;
  width: 100%;
  top: 26px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  color: var(--var-color-text-white);
}

.circle-small .text .small {
  font-size: 12px;
  color: #fff;
}

/*
@keyframes one {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: 100%;
  }
}

@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 140;
  }
}

@keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

/* -------------- MAIN -----------------*/

main {
  background-color: var(--var-color-background-main);
  width: 100vw;
  background-image: url(.//assets/backgorud.png);
  background-position: top -2rem right -30rem;
  background-size: 70%;
  background-repeat: no-repeat;
}

section.title-main {
  margin: 4rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #696669;
}

p.description-title {
  margin-left: 0.2rem;
}

article.profile {
  margin: 4rem 4rem 0 4rem;
}

span {
  display: flex;
  width: 40rem;
  gap: 29rem;
}

h2.subtitle-main {
  font-size: 1.5rem;
  color: #696669;
}

div.icon-box {
  justify-content: end;
  display: flex;
}

img.icons-main {
  width: 2rem;
}

p.text-main {
  line-height: 1.5rem;
  margin-top: 1rem;
}

.divider {
  margin: 0.5rem 0 0.5rem 0;
  width: 40rem;
  height: 0.1rem;
  background: rgb(0, 22, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 22, 36, 1) 0%,
    rgba(9, 83, 121, 1) 0%,
    rgba(2, 187, 224, 1) 50%,
    rgba(0, 247, 255, 1) 96%
  );
}

article.education {
  margin: 3rem 4rem 0 4rem;
}

.span-education {
  display: flex;
  gap: 29.8rem;
}

strong {
  font-size: 1rem;
  background: #1e78a6;
  background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.span-projects {
  gap: 26rem;
}

img.button-modal {
  width: 1.5rem;
  margin: 0.8rem 0 0 1rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

p.button-text {
  margin-top: 1.1rem;
  font-weight: 700;
  font-family: 'montserrat';
  background: #1e78a6;
  background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img.button-modal:hover {
  width: 1.5rem;
  margin: 0.8rem 0 0 1rem;
  transform: scale(110%);
}

img.button-modal.close-modal {
  transform: rotate(180deg);
}

span.guia-button {
  display: flex;
  width: 100%;
  gap: 0;
  margin-top: 2rem;
}

/* ------------ MODAL -----------*/

div.modal {
  position: fixed;
  background-color: #111013b2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

div.modal-content {
  background-color: var(--var-color-background-main);
  max-width: 70rem;
  height: 40rem;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
}

h1.title-modal {
  text-align: center;
  margin-top: 3%;
  background: #1e78a6;
  background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.modal-main {
  width: 70rem;
  height: 30rem;
  display: grid;
  gap: 8rem;
}

section.column {
  margin: 0 2rem 0 2rem;

  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
}

article.project {
  margin-top: 2rem;
  text-align: center;
}

h3.modal-subtitle {
  margin-bottom: 0.4rem;
  color: var(--var-color-title-main);
  margin-bottom: 1rem;
}

p.modal-text {
  font-size: 0.9rem;
}

img.img-projects {
  width: 12rem;
  background: rgb(0, 22, 36);
  border: rgb(38, 146, 218) solid 0.000000000000001rem;
  box-shadow: 1px 0px 15px -1px #54ddf555;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

img.img-projects:hover {
  transform: scale(105%);
  transition: 0.3s;
}

img.icon-git_hub {
  width: 1rem;
  margin-top: 0.3rem;
}

div.divider-2 {
  width: 100%;
  height: 0.1rem;
  border-radius: 10rem;
  background-color: #47a8d9;
  margin-bottom: 0.5rem;
}

/* ========== MEDIA 1580PX =========== */
@media screen and (max-width: 1580px) {
  .container-progress {
    width: 90%;
    height: 15px;
    background-color: #ccc;
    position: relative;
    margin-top: 0.5rem;
  }

  div.circles-small {
    display: grid;
    text-align: center;
  }
}

@media screen and (max-width: 1440px) {
  div.skills {
    margin-left: 1.2rem;
  }

  p.aside-text {
    font-size: 0.75rem;
  }

  /* ------------ MODAL -----------*/

  div.modal {
    position: fixed;
    background-color: #111013b2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
  }

  div.modal-content {
    background-color: var(--var-color-background-main);
    max-width: 70%;
    height: 35rem;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
  }

  h1.title-modal {
    text-align: center;
    margin-top: 3%;
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  div.modal-main {
    width: 100%;
    height: 26rem;
    display: grid;
    gap: 30%;
  }

  section.column {
    margin: 0 1rem 0 1rem;

    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  article.project {
    margin-top: 1.5rem;
    text-align: center;
  }

  h3.modal-subtitle {
    margin-bottom: 0.4rem;
    color: var(--var-color-title-main);
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  p.modal-text {
    font-size: 0.8rem;
  }

  img.img-projects {
    width: 60%;
    background: rgb(0, 22, 36);
    border: rgb(38, 146, 218) solid 0.000000000000001rem;
    box-shadow: 1px 0px 15px -1px #54ddf555;
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
  }

  img.img-projects:hover {
    transform: scale(105%);
    transition: 0.3s;
  }

  img.icon-git_hub {
    width: 1rem;
    margin-top: 0.3rem;
  }

  div.divider-2 {
    width: 100%;
    height: 0.1rem;
    border-radius: 10rem;
    background-color: #47a8d9;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1366px) {
  p.aside-text {
    font-size: 0.65rem;
  }

  h2.subtitle-aside {
    font-size: 1.3rem;
  }

  div.skills {
    margin-left: 1.2rem;
  }

  main {
    background-color: var(--var-color-background-main);
    width: 100vw;
    background-image: url(.//assets/backgorud.png);
    background-position: top -2rem right -25rem;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  section.title-main {
    margin: 4rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #696669;
  }

  p.description-title {
    margin-left: 0.2rem;
  }

  article.profile {
    margin: 4rem 2rem 0 2rem;
  }

  span {
    display: flex;
    width: 35rem;
    gap: 26rem;
  }

  h2.subtitle-main {
    font-size: 1.3rem;
    color: #696669;
  }

  div.icon-box {
    justify-content: end;
    display: flex;
  }

  img.icons-main {
    width: 1.3rem;
  }

  p.text-main {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .divider {
    margin: 0.5rem 0 0.5rem 0;
    width: 35rem;
    height: 0.1rem;
    background: rgb(0, 22, 36);
    background: linear-gradient(
      90deg,
      rgba(0, 22, 36, 1) 0%,
      rgba(9, 83, 121, 1) 0%,
      rgba(2, 187, 224, 1) 50%,
      rgba(0, 247, 255, 1) 96%
    );
  }

  article.education {
    margin: 3rem 2rem 0 2rem;
  }

  .span-education {
    display: flex;
    gap: 26.5rem;
  }

  strong {
    font-size: 1rem;
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .span-projects {
    gap: 24rem;
  }

  img.button-modal {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
  }

  p.button-text {
    margin-top: 1.1rem;
    font-weight: 700;
    font-family: 'montserrat';
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img.button-modal:hover {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
    transform: scale(110%);
  }

  img.button-modal.close-modal {
    transform: rotate(180deg);
  }

  span.guia-button {
    display: flex;
    width: 100%;
    gap: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1050px) {
  div.contact {
    margin-left: 0.5rem;
  }

  img.icon {
    width: 10%;
    height: 1.2rem;
  }

  img.icon#placeholder-icon {
    width: 12%;
    height: 1.2rem;
  }

  p.aside-text {
    font-size: 0.65rem;
  }

  h2.subtitle-aside {
    font-size: 1rem;
  }

  div.skills {
    margin-left: 0.5rem;
  }

  main {
    background-color: var(--var-color-background-main);
    width: 100vw;
    background-image: url(.//assets/backgorud.png);
    background-position: top -2rem right -25rem;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  section.title-main {
    margin: 4rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #696669;
  }

  p.description-title {
    margin-left: 0.2rem;
  }

  article.profile {
    margin: 4rem 2rem 0 2rem;
  }

  span {
    display: flex;
    width: 35rem;
    gap: 26rem;
  }

  h2.subtitle-main {
    font-size: 1.3rem;
    color: #696669;
  }

  div.icon-box {
    justify-content: end;
    display: flex;
  }

  img.icons-main {
    width: 1.3rem;
  }

  p.text-main {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .divider {
    margin: 0.5rem 0 0.5rem 0;
    width: 35rem;
    height: 0.1rem;
    background: rgb(0, 22, 36);
    background: linear-gradient(
      90deg,
      rgba(0, 22, 36, 1) 0%,
      rgba(9, 83, 121, 1) 0%,
      rgba(2, 187, 224, 1) 50%,
      rgba(0, 247, 255, 1) 96%
    );
  }

  article.education {
    margin: 3rem 2rem 0 2rem;
  }

  .span-education {
    display: flex;
    gap: 26.5rem;
  }

  strong {
    font-size: 1rem;
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .span-projects {
    gap: 24rem;
  }

  img.button-modal {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
  }

  p.button-text {
    margin-top: 1.1rem;
    font-weight: 700;
    font-family: 'montserrat';
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img.button-modal:hover {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
    transform: scale(110%);
  }

  img.button-modal.close-modal {
    transform: rotate(180deg);
  }

  span.guia-button {
    display: flex;
    width: 100%;
    gap: 0;
    margin-top: 2rem;
  }

  .container-progress {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 950px) {
  div.contact {
    margin-left: 0.5rem;
  }

  img.icon {
    width: 10%;
    height: 1rem;
  }

  img.icon#placeholder-icon {
    width: 12%;
    height: 1rem;
  }

  p.aside-text {
    font-size: 0.55rem;
  }

  p.aside-text.email-text {
    font-size: 0.6rem;
  }

  h2.subtitle-aside {
    font-size: 1rem;
  }

  div.skills {
    margin-left: 0.5rem;
  }

  main {
    background-color: var(--var-color-background-main);
    width: 100vw;
    background-image: url(.//assets/backgorud.png);
    background-position: top -2rem right -25rem;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  section.title-main {
    margin: 4rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #696669;
  }

  p.description-title {
    margin-left: 0.2rem;
  }

  article.profile {
    margin: 4rem 2rem 0 2rem;
  }

  span {
    display: flex;
    width: 35rem;
    gap: 26rem;
  }

  h2.subtitle-main {
    font-size: 1.3rem;
    color: #696669;
  }

  div.icon-box {
    justify-content: end;
    display: flex;
  }

  img.icons-main {
    width: 1.3rem;
  }

  p.text-main {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .divider {
    margin: 0.5rem 0 0.5rem 0;
    width: 35rem;
    height: 0.1rem;
    background: rgb(0, 22, 36);
    background: linear-gradient(
      90deg,
      rgba(0, 22, 36, 1) 0%,
      rgba(9, 83, 121, 1) 0%,
      rgba(2, 187, 224, 1) 50%,
      rgba(0, 247, 255, 1) 96%
    );
  }

  article.education {
    margin: 3rem 2rem 0 2rem;
  }

  .span-education {
    display: flex;
    gap: 26.5rem;
  }

  strong {
    font-size: 1rem;
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .span-projects {
    gap: 24rem;
  }

  img.button-modal {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
  }

  p.button-text {
    margin-top: 1.1rem;
    font-weight: 700;
    font-family: 'montserrat';
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img.button-modal:hover {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
    transform: scale(110%);
  }

  img.button-modal.close-modal {
    transform: rotate(180deg);
  }

  span.guia-button {
    display: flex;
    width: 100%;
    gap: 0;
    margin-top: 2rem;
  }

  .container-progress {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  div.contact {
    margin-left: 0.5rem;
  }

  img.icon {
    width: 10%;
    height: 1rem;
  }

  img.icon#placeholder-icon {
    width: 12%;
    height: 1rem;
  }

  p.aside-text {
    font-size: 0.55rem;
  }

  p.aside-text.email-text {
    font-size: 0.6rem;
  }

  h2.subtitle-aside {
    font-size: 0.8rem;
  }

  div.skills {
    margin-left: 0.5rem;
  }

  main {
    background-color: var(--var-color-background-main);
    width: 100vw;
    background-image: url(.//assets/backgorud.png);
    background-position: top 5rem right -20rem;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  section.title-main {
    margin: 4rem 2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #696669;
  }

  p.description-title {
    margin-left: 0.2rem;
    font-size: 0.8rem;
  }

  article.profile {
    margin: 4rem 2rem 0 2rem;
  }

  span {
    display: flex;
    width: 30rem;
    gap: 20rem;
  }

  h2.subtitle-main {
    font-size: 1rem;
    color: #696669;
  }

  div.icon-box {
    justify-content: end;
    display: flex;
  }

  img.icons-main {
    width: 1.2rem;
  }

  p.text-main {
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .divider {
    margin: 0.5rem 0 0.5rem 0;
    width: 28rem;
    height: 0.1rem;
    background: rgb(0, 22, 36);
    background: linear-gradient(
      90deg,
      rgba(0, 22, 36, 1) 0%,
      rgba(9, 83, 121, 1) 0%,
      rgba(2, 187, 224, 1) 50%,
      rgba(0, 247, 255, 1) 96%
    );
  }

  article.education {
    margin: 3rem 2rem 0 2rem;
  }

  .span-education {
    display: flex;
    gap: 21rem;
  }

  strong {
    font-size: 0.8rem;
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .span-projects {
    gap: 19rem;
  }

  img.button-modal {
    width: 1rem;
    margin: 1rem 0 0 1rem;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
  }

  p.button-text {
    margin-top: 1.1rem;
    font-weight: 700;
    font-family: 'montserrat';
    background: #1e78a6;
    background: -webkit-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: -moz-linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    background: linear-gradient(to right, #1e78a6 10%, #47a8d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img.button-modal:hover {
    width: 1.5rem;
    margin: 0.8rem 0 0 1rem;
    transform: scale(110%);
  }

  img.button-modal.close-modal {
    transform: rotate(180deg);
  }

  span.guia-button {
    display: flex;
    width: 100%;
    gap: 0;
    margin-top: 2rem;
  }

  .container-progress {
    width: 90%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    margin-top: 0.5rem;
  }
}
